.login-button{
	text-align : center;
}
.editForm .ng-invalid {
    border-left: 5px solid #a94442;
}

.editForm .ng-valid {
    border-left: 5px solid #42A948;
}
	.customBtn {
		background: #e2e2e2;
	}
	
	.customBtn .glyphicon-trash {
		color: rgb(3,169,244);
	}