body { background:#efefef;}
.plans {padding: 0 !important;}
.plans h5 {background: #ed1c24;padding: 10px 10px;color: #fff;font-size: 16px;text-transform: uppercase;
    letter-spacing: 1px;font-weight: bold;}

.panel-pricing {-moz-transition: all .3s ease;-o-transition: all .3s ease;-webkit-transition: all .3s ease;}
.panel-pricing:hover {box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);}
.panel-pricing .panel-heading {padding:13px 10px;color:#fdfdfd;background-color:#ed1c24;border-color:#ed1c24;}
.panel-pricing .panel-heading .fa {margin-top: 10px;font-size: 58px;}
.panel-pricing .list-group-item {color: #777777;border-bottom: 1px solid rgba(250, 250, 250, 0.5);}
.panel { border:0px solid !important;}
.panel-pricing .panel-body {font-size:40px;padding:10px;margin:0px;border-bottom: 1px solid #cfcfcf;}
.panel-footer { border:0px solid !important;background-color:#fff !important;}
.panel-pricing .panel-heading h3 {margin: 0;padding: 10px;}
p.p-title { font-size:18px;text-align: center;text-transform: capitalize;}
p.p-time { font-size:18px;text-align: center;text-transform: capitalize;}
p.p-price { font-size:18px;text-align: center;text-transform: capitalize;color: #ed1c24;font-weight: bold;}
p.p-tax { font-size:18px;text-align: center;text-transform: capitalize;}
.sub-btn {background: #ed1c24;color: #fff;border-radius: 0px;padding: 5px 8px;}
.sub-btn:hover, .sub-btn:focus { color:#fff; text-decoration:none;}
.pixel-border {
    border:1px solid grey;
    background-color:#555;
    color:white;
}
